.overlap-wrapper {
  background: linear-gradient(
    180deg,
    rgb(244.76, 244.76, 244.76) 0%,
    rgb(244.23, 244.23, 244.23) 100%
  );
  border-radius: 20px;
  box-shadow: 0px 4px 4px #00000033;
  height: 373px;
  left: 947px;
  position: absolute;
  top: 104px;
  width: 358px;
}

.overlap-wrapper .created-projects-4 {
  align-items: center;
  background: linear-gradient(
    180deg,
    rgb(245.44, 245.44, 245.44) 0%,
    rgb(213.52, 213.52, 213.52) 100%
  );
  border-radius: 8px;
  display: inline-flex;
  gap: 8px;
  height: 40px;
  justify-content: center;
  left: 261px;
  padding: 0px 16px;
  position: absolute;
  top: 320px;
}

.overlap-wrapper .text-wrapper-8 {
  color: #000000;
  font-family: var(--small-text-font-family);
  font-size: var(--small-text-font-size);
  font-style: var(--small-text-font-style);
  font-weight: var(--small-text-font-weight);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.overlap-wrapper .overlap-2 {
  background-color: #e6e6e6;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000033;
  height: 38px;
  left: 37px;
  position: absolute;
  top: 51px;
  width: 285px;
}

.overlap-wrapper .text-wrapper-9 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 8px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8px;
  width: 255px;
}

.overlap-wrapper .overlap-3 {
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000033;
  height: 38px;
  left: 36px;
  position: absolute;
  top: 109px;
  width: 285px;
}
